body{
    background: #303030;
  }
  
  .contenedor {
    position: relative;
    height: 290px;
    width: 290px;
    margin: 50px 20px;
    float: left;
  }
  
  .contenedor img {
    position: absolute;
    left: 0;
    transition: opacity 1.5s ease-in-out;
    width: 500px;
    height: 300px;
  }
  
  .contenedor img.top:hover {
    opacity: 0;
  }

  

